<div class = "nav">
	<h1>To Do List</h1>
	<button onclick = "window.location.href = '/tasks'">Main Page</button>
	<button class = "new-task" onclick = "window.location.href = '/tasks/new'">Create New Task</button>
</div>