<div class = "nav">
	<h1>To Do List</h1>
	<button onclick = "window.location.href = '/tasks/new'">Create New Task</button>
	<button onclick = "window.location.href = '/tasks/sort/date'">Upcoming Tasks</button>	
	<button onclick = "window.location.href = '/tasks'">Main Page</button>	
</div>