body{

}

.container{
	display: flex;
	justify-content: space-around;
	margin: 0;
}

.priority-column{
	display: flex;
	flex-direction: column;
	width: 500px;
}

.task{
	height: 220px;
	width: 400px;
	text-align: left;
	border-radius: 10px;
	border: 1px solid blue;
	margin: 3px;
	padding: 5px;
}

form{
	display: inline-block;
}

.nav h1{
	display: inline-block;
}
.nav button{
	float: right;
	margin: 3px;
}


.completed-tasks .task{
	border: 1px solid red;
	display: inline-block;
}

.date-column{
	margin: 0 auto;
	max-width: 420px;
}
.date-column h2{
	color: red;
}
.date-column p{
	color: black;
}